.theme-blue {
    min-height: 100vh;
    // background-image: radial-gradient(#39d6ff 5%, #007e9f);
    background: #007e9f;
}

.theme-green {
    min-height: 100vh;
    // background-image: radial-gradient(#58ffd0 5%, #009c70);
    background: #007a58;
}

.theme-brown {
    min-height: 100vh;
    // background-image: radial-gradient(#c49e80 5%, #815a3b);
    background: #755236;
}
