.theme{
    display: flex;
    justify-content: space-around;
    
    
    &_container{
        
        width: 400px;
        height: 50px;
        margin:auto;
    }
    &_img1{
        
        
        border: 1px solid red;
        background-color: rgb(136, 253, 255);
        
    }
    
}