.theme{
    display: flex;
    align-content: space-between;
    
    &_animalname{
        color: red;
        position: absolute;
        margin-left: 45px;
    }
    &_container{
        
        width: 400px;
        height: 50px;
        margin:auto;
    }
    &_img1{
        
        
        position: relative;
        background-color: rgb(136, 253, 255);
        border: 4px solid white;
        
    }
    
}